.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 15px;
  line-height: 1.3;
}

.sidebar__site-business-name {
  margin: 0;
  font-size: 18px;
  font-family: "Michroma", sans-serif;
}

.sidebar__site-address {
  margin: 0;
  font-size: 14px;
  font-family: "Michroma", sans-serif;
}

.sidebar__site-address-street {
  margin: 0;
}

.sidebar__site-address-unit {
  margin: 0;
}

.sidebar__site-address-city-state-zip {
  margin: 0;
}

.sidebar__site-hours {
  margin: 0;
  font-size: 14px;
  font-family: "Michroma", sans-serif;
}

@media screen and (max-width: 800px) {
  .sidebar__container {
    width: 250px;
    height: 150px;
  }

  .sidebar__site-business-name {
    font-size: 16px;
  }

  .sidebar__site-address {
    font-size: 12px;
  }

  .sidebar__site-hours {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar__container {
    height: 250px;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
  }

  .sidebar__site-business-name {
    font-size: 16px;
  }

  .sidebar__site-address {
    font-size: 12px;
  }

  .sidebar__site-hours {
    font-size: 12px;
  }

  @media screen and (max-width: 500px) {
    .sidebar__container {
      width: 100px;
      height: 250px;
      flex-flow: column wrap;
      align-content: center;
      text-align: center;
      justify-content: space-between;
    }

    .sidebar__site-business-name {
      font-size: 12px;
    }

    .sidebar__site-address {
      font-size: 10px;
    }

    .sidebar__site-hours {
      font-size: 10px;
    }
  }
}
