.sidebar__container {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.site_name {
  font-size: 24px;
  font-family: "Michroma", sans-serif;
}

.site_address {
  font-size: 20px;
  font-family: "Michroma", sans-serif;
}
@media screen and (min-width: 768px) {
  .sidebar__container {
    width: 750px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar__container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .sidebar__container {
    width: 50px;
    height: 300px;
  }
}
