.map__iframe {
  width: calc(100% - 10px);
  height: 55vh;
  border: 5px inset;
  align-items: center;
  justify-content: center;
}

.map__header {
  margin: 0;
  font-size: 20px;
}

.map__not-found-text {
  margin: 0;
  font-size: 150%;
}

@media screen and (max-width: 400px) {
  .map__iframe {
    height: 35vh;
  }
}
