.map__iframe {
  display: flex;
  width: calc(100% - 10px);
  height: 55vh;
  border: 5px inset;
  align-items: center;
  justify-content: center;
}

.map__not-found-text {
  margin: 0;
  font-family: "Michroma", sans-serif;
  font-size: 5vw;
}

@media screen and (max-width: 400px) {
  .map__iframe {
    height: 35vh;
  }
}
