.footer {
  height: 100%;
  background-color: #edf6f9;
  font-family: "Michroma", sans-serif;
  font-size: 2vw;
}

.footer__names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 3px;
}

.footer__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-left: 10px;
  gap: 3px;
  font-style: bold;
  font-weight: 600;
}
