.footer {
  background-color: rgb(220, 225, 224);
  font-size: 16px;
}

.footer__names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 3px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.footer__title {
  font-family: "Archivo Black", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-left: 10px;
  gap: 3px;
  font-style: bold;
  font-weight: 600;
}
