.main {
  background-color: whitesmoke;
  margin: 0 45px 0;
}

.page_content {
  max-height: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: solid 4px #FFDDD2;
  border-radius: 65px;
  background-color: linen;
  overflow: hidden;
  margin: 24px 12px 0;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0 25px 0;
  }

  .page_content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    margin: 0 15px 0;
  }

  .page_content {
    margin-top: 0px;
  }
}
