.main {
  background-color: #edf6f9;
  margin: 0 45px 0;
}

.page_content {
  max-height: 872px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: solid 8px #e29578;
  border-radius: 65px;
  background-color: #c2c2c2;
  overflow: hidden;
}
