.main {
  background-color: whitesmoke;
  /* margin: 0 45px 0; */
  padding: 50px 20px;
}

.main__content {
  box-sizing: border-box;
  height: 550px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-evenly;
  border-radius: 65px;
  background-color: linen;
  border: solid 4px #ffddd2;
}

.main__sidebar {
  display: flex;
  align-items: center;
}

.main__map {
  display: flex;
}

/* @media screen and (max-width: 800px) {
  .main__content {
    margin-top: 30px;
  }
} */

@media screen and (max-width: 800px) {
  .main {
    margin: 0 15px 0;
    padding-bottom: 30px;
  }

  .main__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
