@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(105%);
  }
  to {
    transform: scale(100%);
  }
}

.resource {
  height: 800px;
  font-family: "PT Sans", sans-serif;
}

.resource__title {
  font-size: 45px;
  margin: 40px 0 40px 0;
  font-family: "Archivo Black", sans-serif;
  color: #066d77;
}

.resource__cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
}

.resource__card {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c2c2c2;
  border: 2px solid #c2c2c2;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-blend-mode: darken;
  background: var(--gradient-color-1);
  transition: ease-out 0.3s;
}

.resource__card-title {
  color: rgb(35, 34, 34);
  margin: 0;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.resource__card:hover {
  transform: scale(102%);
}

.resource__card:nth-child(2) {
  background: var(--gradient-color-2);
}

.resource__card:nth-child(3) {
  background: var(--gradient-color-3);
}

.resource__card:nth-child(4) {
  background: var(--gradient-color-4);
}

.resource__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  animation: fadeIn 0.2s ease-in-out;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 65%;
  max-height: 50%;
  z-index: 3;
  line-height: 1.2;
}

.modal__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__description {
  margin: 10px 0;
  font-size: 16px;
}

.modal__close-button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

:root {
  --gradient-color-1: linear-gradient(45deg, #edf6f9, #066d77);
  --gradient-color-2: linear-gradient(45deg, #edf6f9, #ffddd2);
  --gradient-color-3: linear-gradient(45deg, #edf6f9, #83c5be);
  --gradient-color-4: linear-gradient(45deg, #edf6f9, #e29578);
}

@media screen and (min-width: 1400px) {
  .modal__title {
    font-size: 30px;
  }

  .modal__description {
    font-size: 24px;
  }

  .resource__card-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .resource {
    height: auto;
  }

  .resource__card {
    height: 200px;
  }

  .resource__title {
    font-size: 30px;
  }

  .resource__cards {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 400px) {
  .resource__title {
    font-size: 28px;
  }

  .modal__title {
    font-size: 14px;
  }

  .modal__description {
    font-size: 12px;
  }

  .modal__close-button {
    font-size: 10px;
  }
}
