.main {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(224, 231, 230);
  padding: 50px 20px 0 20px;
  margin: 0;
}

.main__map {
  align-items: center;
}

.main__resource-center {
}

@media screen and (max-width: 800px) {
  .main {
    padding-bottom: 30px;
  }

  .main__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
