.header__logo {
  margin-bottom: 10px;
  width: 12vw;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__container-title {
  font-size: 5vw;
  margin: 0;
  color: #066d77;
  font-family: "Michroma", sans-serif;
}

.header__container-description {
  margin: 5px 0 10px 0;
  font-size: 4vw;
  color: #83c5be;
  font-family: "Michroma", sans-serif;
}

@media screen and (min-width: 800px) {
  .header__logo {
    width: 10vw;
  }

  .header__container-title {
    font-size: 3vw;
  }

  .header__container-description {
    font-size: 2vw;
  }
}
