.header__logo {
  margin-bottom: 10px;
  width: 150px;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__container-title {
  font-size: 50px;
  margin: 0;
  color: #066d77;
  font-family: "Archivo Black", sans-serif;
}

.header__container-description {
  margin: 5px 0 10px 0;
  font-size: 45px;
  color: #83c5be;
  font-family: "Archivo Black", sans-serif;
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 100px;
  }

  .header__container-title {
    font-size: 24px;
  }

  .header__container-description {
    font-size: 16px;
  }
}
