.header__logo {
  max-height: 120px;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__container-title {
  font-size: 64px;
  line-height: 1.2;
  margin: 0;
  color: #066D77;
}

.header__container-description {
  font-size: 24px;
  line-height: 1.2;
  color: #83c5be;
  font-family: "Michroma", sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 5px 0;
  }

  .header__container-title {
    font-size: 30px;
  }

  .header__container-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0;
  }

  .header__logo {
    max-height: 80px;
  }

  .header__container-title {
    font-size: 20px;
  }
}
